.RData
.Rhistory
*.log
*.fastq
*.gz
*.zip
*.fq
*.fasta
*.fa
.snakemake/
benchmarks/
data/
logs/
results/
reports/fastqc/
*AIRs.txt
*.snakemake.*
*lunp
*.txt
*.tsv
*.ps
*.gtf
*.bed
*.db
*.sql
*.html
*.png
*.pdf
*.rds
*.pl
PCT_parameters/
