<!DOCTYPE html>
        <html>
                <head>
                        <title>{{ page.title }}</title>
                </head>
                <body>

			<div class="container">
                        
                        {{ content }}
                        
                        </div><!-- /.container -->
                        <nav>
                        <ul>
                                <li><a href="/filtar_command_line/background">Background & motivation</a></li>
                                <li><a href="/filtar_command_line/dependencies">Dependencies</a></li>
                                <li><a href="/filtar_command_line/basics">Basics</a></li>
                                <li><a href="/filtar_command_line/usage">Usage</a></li>
                                <li><a href="/filtar_command_line/configuration">Configuration</a></li>
                        </ul>
                        </nav>
                       <footer>
                        <ul>
                                <li><a href="/filtar_command_line/How_to_cite_filtar">Publication & how to cite</a></li>
                                <li><a href="mailto:">Contact us</a></li>
                        	<li><a href="https://github.com/tbradley27/filtar_command_line">Main repository</a></li>
                        </ul>
                        </footer>
                </body>
        </html>
